DATABASE_URL=postgres://{{ app_stack_postgres_app_user }}:{{ vault_postgres_app_password }}@db:5432/{{ app_stack_postgres_app_db }}
DATABASE_MAX_CONNECTIONS=5
SERVER_WORKER_THREADS=2
LEPTOS_SITE_ADDR=0.0.0.0:3000
NATS_URL=nats://{{ app_stack_nats_app_user }}:{{ vault_nats_app_password }}@nats:4222
RUST_LOG=info,sqlx=warn
