NOTIFIER_DATABASE_URL=postgres://{{ app_stack_postgres_notifier_user }}:{{ vault_postgres_notifier_password }}@db:5432/{{ app_stack_postgres_notifier_db }}
NATS_URL=nats://{{ app_stack_nats_notifier_user }}:{{ vault_nats_notifier_password }}@nats:4222
WA_SESSION_PATH=/app/wa-session
WA_DISABLE_SANDBOX=true
WA_PRINT_QR_TO_LOGS=0
